body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    font-size: 18px;
    max-width: 1519px;
}

header {
    text-align: center;
    background-color: #a32a17;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    max-width: 150px;
    height: auto;
}
#menu-icon {
    display: block;
    width: 48px;
}

.hero-image {
    width: 100%;
    height: auto;
}

/*Navigation Bar*/
nav {
    display: flex;
    padding: 20px;
    font-size: 21px;
    flex-grow: 2;
    justify-content: space-evenly;
}

.menu {
    display: none;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
    color: #ffffff;
}

footer {
    background-color: #a32a17;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.hero-image {
    opacity: 0.8;
}

.hero-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

/*FORM PAGE */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

form {
  background-color: #d5cdd5;
  margin: 1rem auto;
}

main {
  padding: 2rem 1rem;
}

.hero-text h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.hero-text {
    padding: 1rem;
}


/* Basic design for form inputs*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="date"],
select, 
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img {
  width: 100%;
  height: auto;
}
