@media screen and (min-width: 640px) {

    #menu-icon {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    nav {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu a {
        margin: 0 10px;
        color: #ffffff;
        text-decoration: none;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    .button {
        width: 10%;
    }

    .cathedral-info {
       display: flex;
    }

    .cathedral-info > div {
        margin: 20px;
    }

    .hero-image {
        height: 450px; 
        object-fit: cover; 
        object-position: 100% 0;
    }
    .hero-text {    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }
}