body {
    display: grid;
}

.header-bar h1 {
    color: white;
}

.header-bar div {
    background-color: #333333;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:link {
    color: white;
    text-decoration: none;
}

.internal-body {
    display: grid;
}

main {
    background-color: #cccccc;
}

aside {
    background-color: white;
}

footer {
    background-color: #333333;
    text-align: center;
}