@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", serif;
    margin: 0px;
    font-size: 18px;
    max-width: 1519px;
}

figcaption {
    text-align: center;
}

/* Header */
header {
    text-align: center;
    background-color: #fca311;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: #fca311;
    margin: 0;
    padding: 20px;
}

header > img {
    padding: 20px;
}

#menu-icon {
    display: block;
    width: 48px;
}

/*Navigation Bar*/
nav {
    display: flex;
    padding: 20px;
    font-size: 21px;
    flex-grow: 2;
    justify-content: space-evenly;
}

.menu {
    display: none;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

h2 {
    text-align: center;
}



/*Footer*/
footer {
    text-align: center;
    background-color: #14213d;
    color: #ffffff;
    padding: 20px;
}

#grid-home {
    display: grid;
}

figure > img {
    width: 300px;
}


.temple {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eeeeee;
}

.temple p {
    margin: 0;
}

.temple img {
    width: 300px;
    height: auto;
}