.product-review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
}

.rating-fieldset {
  display: flex;
  gap: 1rem;
}

fieldset {
  border: none;
}

form {
  background-color: #d5cdd5;
  margin: 1rem auto;
}

main {
  padding: 2rem 1rem;
}

/* Basic design for form inputs*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="date"],
select, 
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}