@media screen and (min-width: 640px) {
    #menu-icon {
        display: none;
    }

    nav {
        display: flex;
        padding: 20px;
        font-size: 21px;
        display: block;
    }

    #grid-home {
        display: grid;
    }
}